$primary-color: #fa5757;
$text-color: #5a5a5a;
$poppins: "Poppins", sans-serif;
$lightwhite: #fff8;
$testimony-color-1: #80919a;
$testimony-color-2: #5488a6;
$secound-footer-color: #232222;
$primary-text-color: rgb(240, 236, 236);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $poppins;
}

html {
  scroll-behavior: smooth;
}

.main-heading {
  font-size: 40px;
  font-weight: 600;
  color: white;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.main-container {
  background-color: #fff;
}

.main-page-header {
  background-color: #fa5757;
}

.logo {
  width: 60px;
  height: 50px;
}

.nav-li-text {
  font-size: 20px;
  color: white;
  font-weight: 300;
}

.instruction-icon i {
  font-size: 50px;
}

.nav-item i {
  color: white;
  font-size: 25px;
  padding-right: 10px;
}

.cat-heading {
  font-size: 25px;
  font-weight: 600;
  color: rgb(44, 44, 44);
}

.resuts-description {
  color: $text-color;
  font-size: 14px;
}

.view-more {
  padding: 20px;
  background-color: rgb(233, 227, 227);
  font-size: 32px;
  font-weight: 200;
  color: $text-color;
}

.box-card {
  font-weight: 500;
  span {
    color: rgb(55, 90, 243);
    font-weight: 600;
  }
}

.footer-contacts {
  span {
    color: rgb(55, 90, 243);
  }
}

.main-results {
  .apply {
    align-self: flex-end;
    background-color: rgb(55, 90, 243);
    color: white;
    font-weight: 600;
  }
}

.search-form {
  background-color: $lightwhite;
  padding: 40px;

  h5 {
    font-size: 16px;
    line-height: 20px;
    color: $text-color;
  }

  div {
    .btn {
      color: white;
      background-color: $primary-color;
    }
  }
}

footer {
  .last-footer {
    background-color: $secound-footer-color;

    .social-icons {
      color: rgb(128, 125, 125);
    }

    .sitemap {
      color: rgb(128, 125, 125);
      font-weight: 200;
      font-size: 12px;

      span {
        color: white;
        font-weight: 400;
      }
    }
  }

  .first-footer {
    background-color: #000;

    .footer-nav {
      border-top: 1px solid gray;
      border-bottom: 1px solid gray;

      .footer-nav-item {
        color: white;
        font-weight: 600;
      }
    }

    .footer-form {
      h5 {
        color: white;
      }

      button {
        background-color: grey;
        color: black;
        font-weight: 700;
      }

      input {
        background-color: black;
        border-color: grey;
      }

      .contact {
        p {
          color: $text-color;
          line-height: 25px;
          font-size: 12px;

          span {
            color: $primary-color;
          }
        }
      }

      .about {
        p {
          color: $text-color;
          font-size: 12px;
          line-height: 25px;

          span {
            color: $primary-color;
          }
        }
      }
    }
  }
}

main {
  .search-section {
    height: 70vh;
    background-image: url(/assets/hero-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    .search-section-content {
      .search-header {
        color: white;
        font-size: 25px;
        font-weight: 600;
      }

      .how-it-works-btn {
        color: $text-color;
        background-color: rgb(216, 208, 208);
        margin: 0 auto;
      }
    }
  }

  .instruction-section {
    padding: 40px;

    .section-header {
      color: $primary-color;
      font-weight: 700;
    }

    .info p {
      color: $text-color;
      font-size: 15px;
      text-align: center;
    }
  }

  .card-img-overlay {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    h5 {
      backdrop-filter: blur(5px);
      color: rgb(255, 255, 255);
      font-size: 30px;
      font-weight: 700;
      //   background-color: yellow;
    }
  }

  .testimony-section {
    background-color: hotpink;

    .section-thumnails {
      width: 200px;
    }

    .testimony-card {
      padding: 30px;

      .testimony-info {
        color: white;

        h5 {
          font-family: 600;
          line-height: 20px;
        }

        p {
          font-weight: 300;
          font-size: 14px;
          color: $primary-text-color;
        }

        .btn {
          background-color: white;
          color: $primary-color;
        }
      }
    }

    .t1 {
      background-color: $primary-color;
    }

    .t2 {
      background-color: $testimony-color-1;
    }

    .t3 {
      background-color: $testimony-color-2;
    }
  }

  //   results page style follows
  .search-filter-group {
    background-color: rgb(235, 233, 240);

    .search-filter {
      padding: 20px;

      .page-heading {
        font-size: 25px;
        color: $text-color;
      }

      .filter-serach {
        background-color: #457db4;
        color: white;
      }

      .clear-filter {
        background-color: #e6ac5c;
        color: white;
      }
    }

    label {
      font-weight: 700;
      color: $text-color;
      font-size: 15px;
    }
  }

  .result-card {
    img {
      filter: brightness(70%);
    }
  }

  .search-heading {
    font-size: 30px;
    color: $text-color;
  }
  //   detail page style as follow
  .main-results {
    border: 1px solid grey;

    .results-heading {
      font-size: 50px;
      font-weight: 300;
      color: $primary-color;
    }

    .box-card {
      border: 1px solid black;
      text-align: center;
    }
  }
}

$breakpoint-tablet: 800px;
$breakpoint-mobile: 576px;
$breakpoint-desktop: 992px;
@media (max-width: $breakpoint-mobile) {
  .middle-icon {
    color: white;
    border-radius: 50px;
    width: 5px;
    height: 5px;
    left: 45%;
    border: 1px solid grey;
    font-size: 60px;
    padding: 50px;
    background-color: black;
  }

  .nav-li-text {
    display: none;
  }
  .logo {
    width: 35px;
    height: 35px;
    margin: 10px;
    align-self: center;
  }
  nav {
    flex-direction: column;
    .nav-ul {
      justify-content: center;
      align-content: flex-start;
      padding-top: 10px;
    }
    .nav-item i {
      font-size: 7vw;
    }
  }

  .section-header {
    font-size: 18px;
    text-align: center;
  }

  .info {
    i {
      font-size: 35px;
    }
    h5 {
      font-size: 18px;
      padding: 10px;
    }
  }

  .testimony-card {
    img {
      display: none;
    }
  }
  footer {
    .first-footer {
      padding-top: 20px;
      .footer-nav {
        .middle-icon {
          width: 10px;
          height: 10px;
          padding: 15px;
          border: 2px solid $text-color;
          font-size: 20px;
          left: 45%;
        }
        .right-footer-nav {
          padding: 0;
          li a {
            font-weight: 100;
            font-size: 2.5vw;
          }
        }
      }
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .nav-ul {
    span {
      display: none;
    }
  }
}
